@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;

  display: flex;
  justify-self: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;

  display: flex;
  justify-self: center;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: center;

  padding: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.footer {
  display: flex;
  flex-direction: row
  align-items: center;
  gap: 16px;
  margin-top: 32px;
  background-color: #f5f5f5;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(122, 122, 122);
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}